<div class="card-agendamento-cliente container">
  <div class="row">
    <!-- Colunas para dispositivos pequenos -->
    <div class="col-12 col-sm-3 col-xl-1 text-center order-2 order-xl-1">
      <img
        class="imagem"
        [src]="urlImagem ? urlImagem : Constants.DEFAULT_AVATAR"
        alt="Imagem do Cliente"
      />
    </div>
    <div
      class="col-12 col-sm-5 col-xl-2 text-center text-lg-start nome my-auto order-3 order-xl-2"
    >
      {{ nomeEstabelecimento}}
    </div>
    <div
      class="col-12 col-sm-4 col-xl-2 justify-content-sm-center my-auto order-4 order-xl-3"
    >
      <div
        class="status d-flex align-items-center text-center justify-content-center"
        [ngStyle]="{ 'background-color': statusColor }"
      >
        {{ status }}
      </div>
    </div>

    <!-- Colunas para dispositivos médios e maiores -->
    <div class="col-xl-3 col-sm-6 nomeServico my-auto order-5 order-xl-4">
      {{ nomeServico }}
    </div>
    <div
      class="data-hora col-xl-3 col-sm-6 order-last order-xl-5 align-middle d-flex justify-content-center my-auto"
    >
      <div class="container">
        <div class="row">
          <div class="col-2">
            <img src="./assets/images/calendario.svg" />
          </div>
          <div class="col-10">
            <span class="data">
              {{ dataHora | date : "dd/MM/yyyy" }}
            </span>
          </div>
          <div class="col-2">
            <img src="./assets/images/horario.svg" />
          </div>
          <div class="col-10">
            <span class="hora">
              {{ dataHora | date : "HH:mm" : "+00:00" }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-xl-auto d-flex justify-content-end order-1 order-xl-last"
      *ngIf="status === 'AGENDADO'"
    >
      <img src="./assets/images/cancel_x.svg" (click)="openCancelDialog()" />
    </div>
  </div>
</div>
