main {
  color: #162d59;
  padding: 50px;
}

a {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: #162d59;
}

.card-agendamento-wrapper{
  display: block;
  margin: 10px 0;
  width: 80%;
}