<app-navbar [mode]="'logged-home'" [user]="loggedUser"></app-navbar>
<main>
  <a [routerLink]="'/'">Agende um atendimento</a>
  <h1>Meus horários agendados</h1>

  <ng-container *ngIf="loggedUser">
    <ng-container
      *ngIf="
        loggedUser.tipo == 1;
        then clienteComponent;
        else estabelecimentoComponent
      "
    ></ng-container>

    <ng-template #clienteComponent>
      <app-lista-agendamentos-cliente-component
        class="card-agendamento-wrapper"
        [agendamentos]="agendamentos"
      />
    </ng-template>

    <ng-template #estabelecimentoComponent>
      <app-lista-agendamentos-estabelecimento-component
        [agendamentos]="agendamentos"
      />
    </ng-template>
  </ng-container>
</main>
