<app-navbar mode="form"></app-navbar>
<main>
  <div class="form-container">

    <div class="form-picker">
      <div class="service-pick">
        <p class="selected-service">Quero Agendar</p>
        <a href="/signup">Quero oferecer atendmento</a>
      </div>
    </div>

    <app-form-component
            [model]="clienteModel"
            [formFieldsModel]="formClientModel"
            [formTitle]="'Crie sua conta'"
            (formOutputData)="formSubmit($event)"
    />


  </div>

  <div class="image">
    <img
      src="assets/images/signup.png"
      alt="Faça seu agendamento"
    >
  </div>

  <app-error-dialog [showDialog]="showErrorDialog" [message]="errorMessage"></app-error-dialog>
</main>
