<app-navbar [mode]="'non-logged-back'" [user]="userDetails"></app-navbar>

<main>
  <img class="avatar-img" src="{{profileImgUrl}}" alt="">
  <app-form-component
    *ngIf="userType==1"
    [model]="clienteFormGroup"
    [formFieldsModel]="clienteFormField"

    [formTitle]="'Meu perfil'"
    [subtmitButtonText]="'Confirmar Mudanças'"
    (formOutputData)="saveProfile($event)"
    (outputFormGroup)="receiveForm($event)"
  />

  <app-form-component
    *ngIf="userType==2"
    [model]="estabelecimentoFormGroup"
    [formFieldsModel]="estabelecimentoFormField"

    [formTitle]="'Meu perfil'"
    [subtmitButtonText]="'Confirmar Mudanças'"
    (formOutputData)="saveProfile($event)"
    (outputFormGroup)="receiveForm($event)"
  />

  <app-error-dialog [showDialog]="showErrorDialog" [message]="errorMessage"></app-error-dialog>
  <app-sucess-dialog [showDialog]="showSuccessDialog" [message]="sucessMessage" [onConfirmAction]="onConfirmAction"></app-sucess-dialog>
</main>
